---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: rhods-prometheus-operator
  namespace: {{ demo_namespace }}
  labels:
    operators.coreos.com/{{ demo_namespace }}: ""
spec:
  name: rhods-prometheus-operator
  channel: beta
  installPlanApproval: Manual
  source: redhat-operators
  sourceNamespace: openshift-marketplace
