route:
  group_by: ['job']
  group_wait: 30s
  group_interval: 2m
  repeat_interval: 12h
  receiver: 'webhook'
receivers:
- name: 'webhook'
  webhook_configs:
  - url: 'http://ansible-eda.{{ demo_namespace }}.svc.cluster.local:5000/endpoint'
