---
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: prometheus-rules
  namespace: {{ demo_namespace }}
  labels:
    app: prometheus
    role: alert-rules
spec:
  groups:
  - name: ./prometheus.rules
    rules:
    - alert: EndpointDown
      expr: probe_success == 0
      for: 10s
      labels:
        severity: "critical"
      annotations:
{% raw %}
        summary: "Endpoint {{ $labels.instance }} down"
{% endraw %}

---
apiVersion: monitoring.coreos.com/v1
kind: Alertmanager
metadata:
  name: alertmanager
  namespace: {{ demo_namespace }}
  labels:
    app: alertmanager
spec:
  replicas: 1

---
apiVersion: v1
kind: Service
metadata:
  name: alertmanager
  namespace: {{ demo_namespace }}
  labels:
    app: alertmanager
spec:
  type: NodePort
  ports:
  - name: web
    nodePort: 30903
    port: 9093
    protocol: TCP
    targetPort: web
  selector:
    alertmanager: alertmanager
