---
apiVersion: v1
kind: ConfigMap
metadata:
  name: blackbox-exporter-config
  namespace: {{ demo_namespace }}
data:
  config.yml: |
    modules:
      http_2xx:
        prober: http
        timeout: 5s
        http:

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: blackbox-exporter
  namespace: {{ demo_namespace }}
  labels:
    app: blackbox-exporter
spec:
  replicas: 1
  selector:
    matchLabels:
      app: blackbox-exporter
  template:
    metadata:
      labels:
        app: blackbox-exporter
    spec:
      containers:
      - name: blackbox-exporter
        image: prom/blackbox-exporter:v0.23.0
        args:
          - --config.file=/etc/blackbox-exporter/config.yml
        ports:
        - containerPort: 9115
        volumeMounts:
        - name: config-volume
          mountPath: /etc/blackbox-exporter/
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop: ["ALL"]
          runAsNonRoot: true
          seccompProfile:
            type: "RuntimeDefault"
      volumes:
      - name: config-volume
        configMap:
          name: blackbox-exporter-config
          items:
          - key: config.yml
            path: config.yml

---
apiVersion: v1
kind: Service
metadata:
  name: blackbox-exporter
  namespace: {{ demo_namespace }}
  labels:
    k8s-app: blackbox-exporter
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 9115
      protocol: TCP
  selector:
    app: blackbox-exporter
