- job_name: 'kube-api-blackbox'
  metrics_path: /probe
  params:
    module: [http_2xx]
  static_configs:
   - targets: []
  relabel_configs:
  - source_labels: [__address__]
    target_label: __param_target
  - source_labels: [__param_target]
    target_label: instance
  - target_label: __address__
    replacement: blackbox-exporter.{{ demo_namespace }}.svc.cluster.local:9115
