---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: prometheus
  namespace: {{ demo_namespace }}
  labels:
    app: prometheus

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: prometheus
  namespace: {{ demo_namespace }}
rules:
- apiGroups: [""]
  resources:
  - nodes
  - nodes/metrics
  - services
  - endpoints
  - pods
  verbs: ["get", "list", "watch"]
- apiGroups: [""]
  resources:
  - configmaps
  verbs: ["get"]
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs: ["get", "list", "watch"]
- nonResourceURLs: ["/metrics"]
  verbs: ["get"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: prometheus
  namespace: {{ demo_namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: prometheus
subjects:
- kind: ServiceAccount
  name: prometheus
  namespace: {{ demo_namespace }}

---
apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: prometheus
  namespace: {{ demo_namespace }}
  labels:
    app: prometheus
spec:
  serviceAccountName: prometheus
  serviceMonitorNamespaceSelector: {}
  serviceMonitorSelector: {}
  alerting:
    alertmanagers:
    - namespace: {{ demo_namespace }}
      name: alertmanager
      port: web
  podMonitorSelector: {}
  resources:
    requests:
      memory: 400Mi
  ruleSelector:
    matchLabels:
      role: alert-rules
      app: prometheus
  additionalScrapeConfigs:
    name: additional-scrape-configs
    key: prometheus-additional.yaml

---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: prometheus
  namespace: {{ demo_namespace }}
  labels:
    operated-prometheus: 'true'
    app: prometheus
spec:
  host: prometheus.{{ ocp_ingress_domain[0] }}
  to:
    kind: Service
    name: prometheus-operated
  port:
    targetPort: web

---
kind: Service
apiVersion: v1
metadata:
  name: prometheus-data-source
  namespace: {{ demo_namespace }}
  labels:
    app: prometheus-data-source
    app: prometheus
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 9090
      protocol: TCP
  selector:
    app: prometheus
