---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: ansible-eda-ee
  namespace: {{ demo_namespace }}
spec:
  lookupPolicy:
    local: true
  tags:
  - from:
      kind: DockerImage
      name: quay.io/ansible_eda/ansible-eda-ee:1.0
    name: "1.0"
    referencePolicy:
      type: Local
